<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.apps.nexuslauncher.overlay.spes">
    <overlay android:isStatic="true" android:priority="1" android:targetName="PixelLauncherCustomOverlaySpes" android:targetPackage="com.google.android.apps.nexuslauncher"/>

    <application android:hasCode="false" android:label="PixelLauncherCustomOverlaySpes"/>
</manifest>
