# Copyright (C) 2022 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on boot
    # UClamp tunings
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 96
    write /proc/sys/kernel/sched_util_clamp_min 128

    # top-app
    write /dev/cpuset/top-app/uclamp.max max
    write /dev/cpuset/top-app/uclamp.min 20
    write /dev/cpuset/top-app/uclamp.boosted 1
    write /dev/cpuset/top-app/uclamp.latency_sensitive 1

    # foreground
    write /dev/cpuset/foreground/uclamp.max 50
    write /dev/cpuset/foreground/uclamp.min 20
    write /dev/cpuset/foreground/uclamp.boosted 0
    write /dev/cpuset/foreground/uclamp.latency_sensitive 0

    # background
    write /dev/cpuset/background/uclamp.max max
    write /dev/cpuset/background/uclamp.min 20
    write /dev/cpuset/background/uclamp.boosted 0
    write /dev/cpuset/background/uclamp.latency_sensitive 0

    # system-background
    write /dev/cpuset/system-background/uclamp.max 50
    write /dev/cpuset/system-background/uclamp.min 10
    write /dev/cpuset/system-background/uclamp.boosted 0
    write /dev/cpuset/system-background/uclamp.latency_sensitive 0

    # latency sensitive
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1

on property:sys.boot_completed=1
    # Read only one page at a time
    write /proc/sys/vm/page-cluster 0
    
    # Swappiness
    write /proc/sys/vm/swappiness 37

    # Set zRAM compression algorithm to LZO
    write /sys/block/zram0/comp_algorithm lzo

    # Enable zRAM data deduplication feature
    write /sys/block/zram0/use_dedup 1
    
    # Mount swap partitions specified in fstab
    swapon_all /vendor/etc/fstab.zram

    # Setup final cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # Configure governor parameters
    # Little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 1

    # Big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/pl 1

    # Configure CPU input boost
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1516800 4:1056000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 120
    write /sys/module/cpu_boost/parameters/powerkey_input_boost_freq "0:1804800 4:2208000"
    write /sys/module/cpu_boost/parameters/powerkey_input_boost_ms 500

    # Configure scheduler
    write /proc/sys/kernel/sched_child_runs_first 1
    write /proc/sys/kernel/sched_tunable_scaling 1
    write /proc/sys/kernel/sched_downmigrate 85
    write /proc/sys/kernel/sched_upmigrate 95

    # Setup default schedtune values for foreground/top-app
    write /dev/stune/schedtune.boost 7
    write /dev/stune/schedtune.prefer_idle 1
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 25
    write /dev/stune/foreground/schedtune.boost 11

on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,7
    setprop dalvik.vm.dex2oat-threads 6 
